# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# TensorFlow / Training
checkpoints/
logs/
saved_models/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.log
